.main {
  width: auto;
  color: white;
  display: flex;
  justify-content: center;

  @media (min-width: 320px) {
    height: 44rem;
  }
  @media (min-width: 500px) {
    height: 44rem;
  }
  @media (min-width: 900px) {
    height: 46rem;
  }
}

.main-inner {
  height: fit-content;
  background-color: #3d3d3d;

  border-radius: 7px;
  width: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @media (min-width: 320px) {
    width: 90%;
  }
  @media (min-width: 500px) {
    width: 75%;
  }
  @media (min-width: 900px) {
    width: 50%;
  }
}

