.sett-inner {
  background-color: #3d3d3d;
  border-radius: 7px;
  border: 2px solid;
  width: 60%;
  /* min-height: 48rem; */
  height: fit-content;
  max-width: 35rem;
  display: flex;
  justify-content: center;
  
  @media (min-width: 320px) {
    width: 90%;
    height: fit-content;
  }
  @media (min-width: 500px) {
    width: 70%;
  }
  @media (min-width: 630px) {
    height: auto;
  }
  @media (min-width: 900px) {
    width: 40%;
  }
}

.sett {
  height: auto;
  background-color: #3d3d3d;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-radius: 7px;
  border: 2px solid #6f6f6f;
  width: 25rem;
  @media (min-width: 320px) {
    height: fit-content;
    
  }

  @media (min-width: 630px) {
    height: auto;

  }
  @media (min-width: 800px) {
    margin-block: 0;
    height: auto;
    
  }
  @media (min-width: 1000px) {
    margin: 1rem;
    height: auto;

  }
}

.sett-title {
  background-color: #3d3d3d;
  font-size: 25px;
  margin-bottom: 1.5rem;
}

.sett-feed {
  background-color: #3d3d3d;
  
}

.feed-title {
  background-color: #3d3d3d;
  margin-bottom: 1rem;
  font-size: 20px;

}

.sett-filter {
  background-color: #3d3d3d;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.filter-title {
  background-color: #3d3d3d;
  
}

.sett-block {
  background-color: #3d3d3d;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.block-title {
  background-color: #3d3d3d;
}

.filter-div {
  background-color: #3d3d3d;
  
}



.filter-sources {
  background-color: #3d3d3d;
  border: 2px solid #6f6f6f;
  width: auto;
  max-width: 14.5rem;
  border-radius: 7px;
  padding: 0.5rem;
  margin-block: 0.5rem;
  
}


.filter-map {
  display: flex;
  justify-content: space-between;
  
  background-color: #3d3d3d;
  margin-block: 0.35rem;
}

.filter-save {
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  background-color: #3d3d3d;
  border: 2px solid #6f6f6f;
  
  @media (min-width: 320px) {
    margin-left: 0;
  }
  @media (min-width: 375px) {
    margin-left: 15px;
  }

}

.filter-input {
  background-color: #3d3d3d;

}

.filter-btn {
  background-color: #3d3d3d;
  color: #fff;
  border-radius: 5px;
  border-left: 2px solid #6f6f6f;
  border-top: 2px solid #6f6f6f;
  border-bottom: 2px solid #6f6f6f;
  border-right: 2px solid #6f6f6f;

  

  cursor: pointer;
}
.filter-btn:active {
  border-left: 2px solid aquamarine;
  border-top: 2px solid aquamarine;
  border-bottom: 2px solid aquamarine;
  border-right: 2px solid aquamarine;

}

.block-sources {
  background-color: #3d3d3d;
  border: 2px solid #6f6f6f;
  width: auto;
  max-width: 14.5rem;
  border-radius: 7px;
  padding: 0.5rem;
  margin-block: 0.5rem;
  
}

.block-map {
  display: flex;
  justify-content: space-between;
  background-color: #3d3d3d;
  margin-block: 0.35rem;
  
}

.block-save {
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  background-color: #3d3d3d;
  border: 2px solid #6f6f6f;
  margin-left: 15px;
  @media (min-width: 320px) {
    margin-left: 0;
  }
  @media (max-width: 373px) {
    margin-left: 15px;
  }
}

.block-input {
  background-color: #3d3d3d;
}

.block-btn {
  background-color: #3d3d3d;
  color: #fff;
  /* border: none; */
  border-radius: 5px;
  border-left: 2px solid #6f6f6f;
  border-top: 2px solid #6f6f6f;
  border-bottom: 2px solid #6f6f6f;
  border-right: 2px solid #6f6f6f;

  

  cursor: pointer;
}

.block-btn:active {
  border-left: 2px solid aquamarine;
  border-top: 2px solid aquamarine;
  border-bottom: 2px solid aquamarine;
  border-right: 2px solid aquamarine;

}

input {
  width: auto;
  max-width: 20%;
  min-width: 15rem;
  padding: 0.25rem;
  margin-block: 0.25rem;
  background-color: #3d3d3d;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}