* {
  background-color: #333;
}

.App {
  height: 95vh;
  color: #fff;
  
}


.main {
  border: solid 1px hotpink;
  width: auto;
  height: 15rem;
  margin: 5rem;
  color: white;
}

.main-inner {
  border: solid 1px hotpink;
  width: auto;
  height: 10rem;
  margin-block: 2rem;
}

.footer {
  border: solid 1px hotpink;
  width: auto;
  height: 20rem;
  margin-top: 2rem;  
}

