.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 15rem;
  margin-bottom: 5rem;
  border: 2px solid hotpink;

}

.header-inner {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-block: 2rem;
  align-items: center;
  height: 5rem;
  
  @media (min-width: 320px) {
    width: 90%;
  }
  @media (min-width: 500px) {
    width: 70%;
  }
  @media (min-width: 900px) {
    width: 50%;
  }
}

.header-title {
  font-size: 30px;
  
}

.header-settings {
  font-size: 20px;
}