.sett-inner {
  background-color: #3d3d3d;
  border-radius: 7px;
  border: 2px solid;
  width: 60%;
  display: flex;
  justify-content: center;
  
  @media (min-width: 320px) {
    width: 90%;
    height: fit-content;
  }
  @media (min-width: 500px) {
    width: 70%;
  }
  @media (min-width: 630px) {
    height: auto;
  }
  @media (min-width: 900px) {
    width: 50%;
  }
}

.sett {
  height: fit-content;
  background-color: #3d3d3d;
  height: fit-content;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-radius: 7px;
  border: 2px solid #6f6f6f;
  width: 25rem;
  @media (min-width: 630px) {
    margin-top: 1rem;

  }
}

.sett-title {
  background-color: #3d3d3d;
  font-size: 25px;
  margin-bottom: 1.5rem;
}

.sett-feed {
  background-color: #3d3d3d;
  
}

.feed-title {
  background-color: #3d3d3d;
  margin-bottom: 1rem;
  font-size: 20px;

}

.sett-filter {
  background-color: #3d3d3d;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.filter-title {
  background-color: #3d3d3d;
  
}

.sett-block {
  background-color: #3d3d3d;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.block-title {
  background-color: #3d3d3d;
  
}

.filter-sources {
  background-color: #3d3d3d;
  border: 2px solid #6f6f6f;
  width: auto;
  max-width: 14.5rem;
  border-radius: 7px;
  padding: 0.5rem;
  margin-block: 0.5rem;
  
}

.filter-map {
  display: grid;
  background-color: #3d3d3d;
  
}

.block-sources {
  background-color: #3d3d3d;
  border: 2px solid #6f6f6f;
  width: auto;
  max-width: 14.5rem;
  border-radius: 7px;
  padding: 0.5rem;
  margin-block: 0.5rem;
  
}

.block-map {
  display: grid;
  background-color: #3d3d3d;
}

input {
  width: auto;
  max-width: 20%;
  min-width: 15rem;
  padding: 0.25rem;
  margin-block: 0.25rem;
  background-color: #3d3d3d;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}